@charset "utf-8";
/* CSS Document */
table{
	border: 1px solid #000000;
	font:14px/1.5em"宋体";
	border-collapse: collapse;
}
caption{
	text-align: center;
}
th{
	color:#99FFFF;
	border: 1px solid#000000;
	background: #328aa4;
}
td{
	text-align: center;
	border: 1px solid#000000;
	background: #e5f1f4;
}
.tr_bg td{
	background: #FFFF99;
}
